process.executor = 'pbspro'

process.project = 'mp72'
process.storage = 'scratch/mp72'
process.memory = '4 GB'
process.time = '1h'

params.project_dir = '/scratch/mp72/kineticInjury/Kinetic-Injury-Triage'


trace {
    enabled = true
    file = "nf-trace.txt"
    fields = 'task_id,process,name,status,exit,duration,tag,realtime,%cpu,%mem,rss,peak_rss'
}

