params {
    project = System.getenv("PROJECT")
    project_dir = "/scratch/${params.project}/kineticInjury/Kinetic-Injury-Triage"
}

// Define process information
process {
    executor = 'pbspro'
    project = System.getenv("PROJECT")
    storage = 'scratch/params.project'
    memory = '4 GB'
    time = '1h'
}


// executor information: number of concurrent jobs, how often to query and submit
executor {
    queueSize = 300
    pollInterval = '5 min'
    queueStatInterval = '5 min'
    submitRateLimit = '20 min'
}

trace {
    enabled = true
    file = "nf-trace.txt"
    fields = 'task_id,process,name,status,exit,duration,tag,realtime,%cpu,%mem,rss,peak_rss'
}

